#techStackContainer {
  margin: 0;
  /* min-height: 100vh; */
  display: grid;
  place-items: center;
  /* background: hsl(255, 40%, 8%); */
  /* width: 100%; */
  /* border: 1px solid red; */

  .gallery {
    width: 100%;
    /* border: 1px solid blue; */
    --img-size: calc(100% / 7);
    /* calc(50px - 0.75rem / 2); */
    display: flex;
    /* justify-content: center;
    align-items: center; */
    /* column-count: 14; */
    /* gap: 0.5rem; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(10, var(--img-size));
    grid-template-rows: repeat(12, var(--img-size)); */

    .galleryItem {
      /* border: 1px solid red; */
      aspect-ratio: 1;
      height: calc(100% / 34);
      width: 60px;
      position: relative;
      /* grid-column: span 2;
      grid-row: span 2; */
      /* display: grid; */
      justify-items: center;
      box-sizing: border-box;
      /* margin: 25px; */
      /* &:nth-of-type(8) {
        margin-left: 30px;
      } */
      /* transform: scale(1); */
      transition: all 2000 linear;
      img {
        padding: 0.5rem;
        max-width: 100%;
        height: 100%;
        width: 100%;
      }
      &:hover {
        transform: scale(1.8);
      }
    }

    img {
      /* height: 100%;

    position: relative;
    background-color: rgba(148, 147, 147, 0.82);
    aspect-ratio: 1;

    grid-column: span 2;
    grid-row: span 2;
    border-radius: 0.5rem;

    clip-path: path("M 15 0 L 40 0 L 55 20 L 40 45 L 15 45 L 0 20 L 15 0");
    transition: filter 500ms, clip-path 500ms; */

      /* &:nth-of-type(7),
    &:nth-of-type(18),
    &:nth-of-type(29) {
      grid-column: 4 / span 4;
    } */
      /* &:nth-child(even) {
      grid-column: 2 / span 2;
    } */

      /* &:hover {
      z-index: 100;
      clip-path: path(
        "M 0 0 C 50 0 50 0 100 0 C 100 25 100 25 100 40 C 100 50 100 50 100 60 C 100 75 100 75 100 100 C 50 100 50 100 0 100 C 0 75 0 75 0 60 C 0 50 0 50 0 40 Z"
      );
      clip-path: path(
        "m 0 0 l 0 0 m 20 0 l 50 0 l 0 20 l 0 30 l 0 20 l -30 0 l -40 0 l 0 -70 M 0 0 L 20 0 z"
      );
    } */

      &:not(:hover) {
        animation: zIndexHack 500ms;
      }
    }
  }

  .gallery:hover > img {
    filter: brightness(0.5) saturate(0.5);
  }

  .gallery > img:hover {
    filter: brightness(1) saturate(1.5);
  }
}

@keyframes zIndexHack {
  0%,
  100% {
    z-index: 10;
  }
}

/* CAROUSEL */
.banner {
  width: 100%;
  height: 80%;
  /* height: 300px; */
  text-align: center;
  /* overflow: hidden; */
  position: relative;
}
.banner .slider {
  position: absolute;
  width: 250px;
  height: 70%;
  top: 0%;
  left: calc(50% - 125px);
  transform-style: preserve-3d;
  transform: perspective(1000px);
  animation: autoRun 50s linear infinite;
  z-index: 2;
}
@keyframes autoRun {
  from {
    transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
  }
  to {
    transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
  }
}

.banner {
  .slider {
    .item {
      --item-width: calc(100vw / 6);
      position: absolute;
      inset: 0 0 0 0;
      transform: rotateY(
          calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
        )
        translateZ(var(--item-width));
      /* translateZ(550px); */
    }
  }
  &.isMobile {
    .slider {
      top: 5%;
      height: 75%;
      width: 220px;
      left: calc(50% - 110px);

      .item {
        --item-width: calc(100vw / 2.7);
      }
    }
  }
}
.banner .slider .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  color: #3d3d3d;
}
