.cardContainer {
  /* animation-name: rotateAnimation;
  animation-duration: 1ms; 
  animation-direction: alternate;
  animation-timeline: view(block nearest); */
  animation-timeline: scroll(block);

  animation-name: rotateAnimation;
  animation-fill-mode: both;
  animation-duration: 1ms;
  animation-timing-function: linear;
}
/* #experiences {
  height: 300px;
  overflow-y: scroll;
  position: relative;
} */

#scrollStretcher {
  height: 600px;
}
.verticalTimeLine {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  &::after {
    content: "";
    height: 100%;
    width: 3px;
    position: absolute;
    top: 3.75rem;
    left: 1.5rem;
    background: linear-gradient(rgb(63, 185, 80), rgb(46, 160, 67));
  }
  &:not(:has(+ .inRange)) {
    background-color: yellow;
    transition: all 1s ease-in-out;
  }
}

@keyframes rotateAnimation {
  from {
    transform: scale(0.2);
  }
  to {
    transform: scale(1);
  }
}
